/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome

 */

 
*{
	margin: 0px;
	padding: 0px;
}
 header{
 	height: 40px;
 	width: 100%;
 	position: fixed;
 	display: flex;
 	align-items: center;
 	padding: 10px;
 	box-sizing: border-box;
 	justify-content: space-between;
 	border-bottom: 1px solid black
 }

.floatingTop {
    font-size: 48px;
    position: fixed;
    right: 18px;
    bottom: 40px;
    height: 37px;
    overflow: hidden;
}

.floatingTop a {
    text-decoration: none;
    background-color: black;
    color: white;
}

 header > div.right{
 	display: flex;
 	flex-direction: column;
 }
 div.right > div.logout{
 	padding-left: 150px;
 	color: skyblue;
 }
 a:-webkit-any-link{
 	color:skyblue;
 }
 div.right > div.name{
 	padding-left: 150px;
 	color: skyblue;
 }
main{
	margin-left:10px;
	padding-top: 60px;
	padding-bottom: 60px;

	display: flex;

}

#mainAside {
    width: 25%;
    display: inline-block;
    float: left;
    margin-top: 60px;
}

#mainMain {
    width: 60%;
    display: inline-block;

}


footer{
	height: 40px;
	background-color: grey;
	position: fixed;
    bottom:0px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 10px;
	box-sizing: border-box;
	align-items: center;
}

i{
	color: skyblue;
}

.pankaj{
	background-color: #e1e8ed;
	height: 160px;
	width: 90%;
	padding: 0px;
    margin-left: 8%;
    display: flex;
    box-sizing: border-box;

}


img{
	width: 100px;height: 100px;
}


.img{
	padding-left: 0%;
	margin-top: 8%;
	margin-left: 8%;
	box-sizing: border-box;
}


.follower{
	padding-left: 10%;
	margin-top: 8%;
	box-sizing: border-box;

}


a{
	text-decoration: none;
}

.copyright{
	color: skyblue;
}